In [3]:
import pandas as pd
import numpy as np

In [9]:
pooaaar = pd.DataFrame(['lol, lol', 'poooaaar, pooaaar', 'ppppaaaaar'], columns=['woodsman'])

In [8]:
pooaaar['axe'] = pooaaar.woodsman.apply(lambda x: 'multiple countries' if ',' in x else x)
pooaaar

            woodsman                 axe
0           lol, lol  multiple countries
1  poooaaar, pooaaar  multiple countries
2         ppppaaaaar          ppppaaaaar

In [8]:
pooaaar

            woodsman
0           lol, lol
1  poooaaar, pooaaar
2         ppppaaaaar

In [36]:
def replacement(x):
    if ',' in x:
        return 'multiple countries'
    else:
        return x

In [37]:
pooaaar['axe'] = pooaaar.woodsman.apply(replacement)
pooaaar

            woodsman                 new                 axe
0           lol, lol  multiple countries  multiple countries
1  poooaaar, pooaaar  multiple countries  multiple countries
2         ppppaaaaar          ppppaaaaar          ppppaaaaar

In [7]:
b

            woodsman                 axe
0           lol, lol  multiple countries
1  poooaaar, pooaaar  multiple countries
2         ppppaaaaar          ppppaaaaar